@model IEnumerable<ajaxform.Models.EMP>

<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.FIRSTNAME)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.LASTNAME)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.EMPCODE)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.POSITION)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.OFFICE)
        </th>
        <th></th>
    </tr>

    @if (Model.Count() <= 0)
    {
        <tr>
            <td colspan="5">
                No Rows Found...
            </td>
        </tr>
    }
    else
    {
        foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.FIRSTNAME)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.LASTNAME)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.EMPCODE)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.POSITION)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.OFFICE)
                </td>
            </tr>
        }
    }

</table>
