@model  WebApplication2.Models.Employee

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
</head>
<body>
    <div>
        @{
            var a = (WebApplication2.Models.Employee)ViewData["var1"];
            var b = ViewBag.var2;
        }
        <h1>ViewData</h1>
        <p> @a.Empid  </p>
        <p> @a.Empname  </p>
        <p> @a.Empdesignation  </p>
        <h1>ViewBagData</h1>
        <p> @b.Empid  </p>
        <p> @b.Empname  </p>
        <p> @b.Empdesignation  </p>
        <h1>STRONGLY TYPE</h1>
        <p>@Model.Empid </p>
        <p>@Model.Empname </p>
        <p>@Model.Empdesignation </p>
    </div>
</body>
</html>
